@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
*{
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}
body{
    background-image:url("/static/img/image-3.jpeg");
    background-size: cover;
}

.query{
    text-align: center;
    margin-top: 5%;
}

textarea{
    width: 700px; height: 150px;
    background-color: #0d4e6266;
}

#btnSubmit{
    border-radius: 10px;
    margin-top: 20px;
    height: 50px;
    width: 100px;
    font-size:large;
    background-color: #0d4e62b0;
    color: #eefe1a;
    font-family: 'Lobster', cursive;
}

form h1, form h3{
    font-family: 'Lobster', cursive;
    text-shadow: 2px 2px #eefe1a;
}