<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/adminModule.css">
</head>
<body>
    <div class="heading">
        <h1>Admin Dashboard</h1>
    </div>
    {% with messages = get_flashed_messages(category_filter=["error"]) %}
        {% if messages %}
        <div class="error">
            {{messages}}
        </div>
        {% endif %}
      {% endwith %}
    <div class="complain-list">
        <table >
            <tr>
                <th>Complaint</th>
                <th>Reported By</th>
            </tr>
            {%for row in tuples%}
            <tr>
                {%for data in row%}
                <td>{{data}}</td>
                {%endfor%}
            </tr>
            {%endfor%}
        </table>
    </div>
</body>
</html>