<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link rel="stylesheet" href="/static/userModule.css">
    </head>
<body>

    <div class="username">
        User: {{email}}
    </div>

    {% with messages = get_flashed_messages(category_filter=["error"]) %}
        {% if messages %}
        <div class="error">
            {{messages}}
        </div>
        {% endif %}
    {% endwith %}
    
    {% with messages = get_flashed_messages(category_filter=["success"]) %}
        {% if messages %}
        <div class="success">
            {{messages}}
        </div>
        {% endif %}
    {% endwith %}

    <div class="query">
        <form action="/userModule" method="POST">
            <h1>Complain Collection Panel</h1>
            <br><br><br>
            <h3>Enter your query below</h3>
            <textarea name="complain" autofocus></textarea>
            <br>
            <input type="submit" value="Send" id="btnSubmit">
            <input type="hidden" name="email" value="{{email}}">
        </form>
    </div>
    <div class="logout">
        <a href="/logout">Logout</a>
    </div>
</body>
</html>